body {
  background-color: #000000;
  animation: grain 8s steps(10) infinite;
}

p{
  color:#FF8C00;
  font-family: "Courier New", monospace;
  text-shadow: rgba(255,140,0,1) 0px 0px 16px;
 }

.header{
  padding-top: 7px;
  text-align: center;
}

.header img{
  width: 30%;
}
.header hr{

  width:20%;
  size: 3;
  color: #FF8C00;
  text-shadow: rgba(255,140,0,1) 0px 0px 16px;
}

.introtxt{
  text-align: center;
  padding-top: 10%;

}
